body {
	font-size: 20;
	font-family: helvetica;
}

#light{
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
}

#morning{
	display: none;
	position: relative;
	margin-left: 550px;
	margin-top: 160px;
}
