*{ box-sizing: border-box; }
body{
	font-family: helvetica;
	font-size: 20px;
}
.b {
	width: 170px;
	height: 450px;
	background: url(../img/doorkitchen.png) no-repeat;
	font-size: 20px;
	transition: all 500ms ease;
	position: relative;
	margin-left: 100px;
	float:left;
	margin-top: 500px;
}

.b:hover {
	background-position: -180px 0;
	/*transform: translate(-100%,-100%);*/
}