
* { box-sizing: border-box;
 }

 .c {
 	width: 100%;
 	position: absolute;
 }

 .b{
 	background: url("../img/bedroomdoor.png") no-repeat;
 	width: 215px;
 	height: 600px;
 	position: absolute;
 	left: 80%;
 	transition: all 500ms ease;
 	z-index: 10;
 }

 .d{
 	width: 100%;
 	position: relative;
 }

 .b:hover {
	background-position: -215px 0;
	/*transform: translate(-100%,-100%);*/
}