* { box-sizing: border-box;
	vertical-align: top;
 }
body {
	background: url('../img/grandmashouse.jpg');
	font-family: impact;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 5px;
	margin: 0px;
	padding: 80px;
	color: #000;
	font-weight: bold;
}
.s{
	color: #000;
	border: 2px solid #fff;
	background: #fff;
	margin: 10px 10px 10px 10px;
	width: 20%;
}
.about{
	color: #000;
	border: 2px solid #fff;
	background: #fff;
}
 
h1, h2 {
	font-size: 20px;
	margin: 0;
	font-weight: normal; 
	font-weight: bolder;
	cursor: pointer;
	background: #fff;	
}

a{ color: #000; }


div{
	margin-bottom: 40px;
}

img{
	margin-bottom: 40px;
}

ul {
	margin: 0;
}
p {width: 710px}


