* { box-sizing: border-box;
	vertical-align: top;
 }
body {
	background: url('../img/zebra.jpg');
	font-family: arial;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 5px;
	margin: 0;
	padding: 50px;
	color: #ff00de;
	font-weight: bold;
}

.about{
	color: #ff00de;
	border: 2px solid #fff;
	background: #fff;
}
 
h1, h2 {
	font-size: 20px;
	margin: 0;
	font-weight: normal; 
	font-weight: bolder;
	cursor: pointer;
	border: 2px solid #fff;
	background: #fff;	
}

a{ color: #ff00de; }


div{
	margin-bottom: 40px;
}

img{
	margin-bottom: 40px;
}

ul {
	margin: 0;
}
p {width: 710px}

.s{
	border: 2px solid #fff;
	background: #fff;

}
