* { box-sizing: border-box;
	vertical-align: top;
 }

 .c {
 	width: 100%;
 	position: absolute;
 }

  .b{
 	background: url("../img/basementdoor.png") no-repeat;
 	width: 225px;
 	height: 450px;
 	position: absolute;
 	left: 43%;
 	transition: all 500ms ease;
 	margin-top: 100px;

 }

.b:hover {
	background-position: -215px 0;
	/*transform: translate(-100%,-100%);*/
}

.audio { opacity: 0; }

.hide {
	display:none;
}








