*{ box-sizing: border-box; }

body {
	background: #fff;
	font-size: 10;
	font-family: Helvetica;
}

.b {
	width: 225px;
	height: 450px;
	background: url(../img/bathroomdoor.png) no-repeat;
	font-size: 20px;
	transition: all 500ms ease;
	position: absolute;
	margin-top: 195px;
	margin-left: 900px;
	display: none;
}

.b:hover {
	background-position: -215px 0;
	/*transform: translate(-100%,-100%);*/
}